.App {
font-family: 'Open Sans', sans-serif;;
  padding: 70px;
  background: linear-gradient(#dfdfdf, #f5f3da, #b2decb);
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 60px !important;
  color: #008891;
  margin: 0;
}

h3 {
  color: #487e95;
  margin: 0;
}

h4 {
  color: #487e95;
  margin: 0;
}

span {
  color: #008891;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
}
