.App {
  font-family: sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #008891;
  margin: 0;
}

h3 {
  color: #487e95;
  margin: 0;
}

h4 {
  color: #487e95;
  margin: 0;
}

li {
  color: #487e95;
  list-style: none;
}

span {
  color: #008891;
}

.container {
  max-width: 900px;
}

.card {
  background: linear-gradient(rgb(229, 226, 226), rgba(201, 201, 201, 40));
  margin: 30px;
  padding: 10px;
  border-radius: 40px;
  border: none;
}
