h1 {
  font-size: 75px;
}

.temp-container {
  display: inline-block;
  justify-content: center;
}

#forecast-temp {
  color: #ec8c4c;
}

#temp-converters {
  font-size: 20px;
  position: relative;
  top: -50px;
  left: -15px;
  padding: 10px;
}

#temp-converters .active {
  color: gray;
  cursor: default;
}

#temp-converters .active:hover {
  text-decoration: none;
}

#temp-converters a {
  text-decoration: none;
  color: #ffa828;
}

#temp-converters a:hover {
  text-decoration: underline;
}
