ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 75px;
  color: gray;
}

.formattedDate {
  font-size: 40px;
  margin: 20px 20px 40px 0px;
  color: gray;
}

.weather-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-bar {
  max-width: 185px;
  min-width: 185px;
}

.weather {
  padding: 40px;
}

.weather ul,
li {
  font-size: 18px;
  margin: 10px;
  display: inline-flex;
}

.temp-details ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  color: gray;
}

#temp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#description {
  text-transform: capitalize;
}

.weather canvas {
  max-height: 74px;
  display: flex;
  align-content: center;
  margin-right: 10px;
}

/* FORM */

#search-form {
  padding-bottom: 10px;
  display: flex !important;
}

#search-form #search-bar {
  border-radius: 18px;
  border: solid #00587a 1px;
  padding: 10px 20px 10px 20px;
  height: 44px;
  flex: 2;
  min-width: 320px;
}

#buttons {
  display: flex !important;
  flex: 1;
}

#buttons .search-button {
  margin-left: 5px;
  border-radius: 18px;
  color: white;
  padding: 10px 20px 10px 20px;
  flex: 1;
}

.search-button:hover {
  background-color: gray;
  color: #ffffff;
  cursor: pointer;
}

#buttons .current-button {
  border: solid #00587a 1px;
  border-radius: 18px;
  margin-left: 5px;
  padding: 10px 20px 10px 20px;
  flex: 1;
}
