ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 75px;
}
.weather-container {
  padding: 15px;
}

.details-bar {
  max-width: 185px;
  min-width: 185px;
}

.weather {
  padding: 0;
}

.weather,
.weather h3 {
  color: #008891;
}

.weather ul {
  font-size: 18px;
}

.temp-container {
  display: inline-block;
  justify-content: center;
}

.weather canvas {
  padding-left: 5px; 
}

#forecast-temp {
  color: #ec8c4c;
}

#temp-converters {
  font-size: 20px;
  position: relative;
  top: -50px;
  left: -15px;
  padding: 10px;
}

#temp-converters .active {
  color: gray;
  cursor: default;
}

#temp-converters .active:hover {
  text-decoration: none;
}

#temp-converters a {
  text-decoration: none;
  color: #ffa828;
}

#temp-converters a:hover {
  text-decoration: underline;
}

#description {
  text-transform: capitalize;
}


/* FORM */ 

#search-form {
  padding-bottom: 10px;
}

#search-form #search-bar {
  border-radius: 20px;
  border: solid #00587a 1px;
}

#search-form ::placeholder {
  color: #00587a;
}

.search-button {
  margin-left: 5px;
  border-radius: 24px;
  background-color: #00587a;
  color: #ffffff;
  border: 0;
}

.search-button:hover {
  background-color: gray;
  color: #ffffff;
  cursor: pointer;
}

.button {
  width: 120px;
  height: 54px;
}

.current-button {
  border: solid #00587a 1px;
  border-radius: 24px;
  color: #042675;
  margin-left: 5px;
}
